* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

.header-logo {
  margin: auto;
}

.image-container {
  width: 250px;
  margin: auto;
}

.header-navbar ul {
  display: flex;
  justify-content: center;
}

.header-navbar ul li {
  list-style: none;
  margin: 15px;
}

.header-navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 15px 5px;
}

.main {
  position: relative;
  padding: 20px;
}

.sfondo {
  width: 99vw;
  margin: auto;
}

.absolute-container {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 1400px;
  margin-top: 10px;
  margin: auto;
  background-color: green;
}

.flex-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-list .hover {
  width: 100%;
  height: 100%;
  position: relative;
}

.flex-list li {
  position: relative;
  width: 300px;
  height: 200px;
  list-style: none;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 20px;
}

.flex-list li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.flex-list li a {
  background: lightgrey;
  opacity: 0.4;
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.flex-list li h3 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: none;
  z-index: 1;
}

.flex-list li:hover h3 {
  display: block;
}

.flex-list li:hover a {
  display: block;
}

