* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

.header-logo {
  margin: auto;
}

.image-container {
  width: 250px;
  margin: auto;
}

.header-navbar ul {
  display: flex;
  justify-content: center;
}

.header-navbar ul li {
  list-style: none;
  margin: 15px;
}

.header-navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 15px 5px;
}

.main {
  position: relative;
}

.sfondo {
  width: 99vw;
  margin: auto;
}

.absolute-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
  height: calc(1096px/3 - 10px);
  margin-top: 10px;
  background-color: green;
}

.flex-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-list li {
  width: calc((100% / 3) - 10px);
  height: calc((100% / 2) - 10px);
  margin: 5px;
}

